<h1>List a New Album!</h1>
<form action="<%= albums_url %>" method='post'>

<label for="albumtitle">Album Title</label>
<input type="text" name="album[title]" id="albumtitle">
<br>
<label for="albumyear">Year Recorded
<input type="text" name="album[year]"></label>
<br>
<label for="recordedlive">Recorded Live?</label>
<input type="radio" name="album[recorded]" value='true'> True
<input type="radio" name="album[recorded]" value='false'> False
<br>
<select name="album[band_id]" id="bandid">
<% Band.find_each do |band| %>
<option value='<%=band.id%>'><%=band.name%></option>
<%end%>
</select>

<input type="submit" value='Create this Album.'>
</form>
