<h1>Create Your Band!</h1>
<form action="<%= bands_url %>" method='post'>

<label for="bandname">Band Name</label>
<input type="text" name="band[name]" id="bandname">
<input type="submit" value='SignUpYoBand'>
</form>
